Source: testpkg
Section: unknown
Priority: optional
Maintainer: Robert Middleton <robert.middleton@rm5248.com>
Build-Depends: debhelper-compat (>= 9)
Standards-Version: 4.5.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/testpkg
#Vcs-Git: https://salsa.debian.org/debian/testpkg.git
Rules-Requires-Root: no

Package: testpkg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
